{% extends 'base.html' %}
{% block title %}
    联系我们
{%endblock%}

{% block body %}
    <div class="header head-top">
    <div class="container">
        <div class="header-top">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="navbar-brand">
                            <h1><a href="{% url 'demo1:index' %}">蓝思婚庆</a></h1>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li ><a href="{% url 'demo1:index' %}">首页 <span class="sr-only">(current)</span></a></li>
                            <li class="active"><a href="{% url 'demo1:about' %}">关于我们</a></li>
                            <li><a href="{% url 'demo1:services' %}">服务</a></li>
                            <li><a href="{% url 'demo1:wedding' %}">婚庆案例</a></li>
                            <li ><a href="{% url 'demo1:contact' %}">联系我们</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

    </div>
</div>
<div class="content">
    {# 这是放播放视频 #}
    <div class="OurLove-section">
        <div class="container">
            <h2>我们团队的故事</h2>
            <div class="OurLove-grids">
                <div class="col-md-5 OurLove-grid">
                    <iframe src="/static/video/2.mp4"
                            width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen
                            allowfullscreen onautocomplete="true"></iframe>
                </div>
                <div class="col-md-7 OurLove-grid1">
                    <h4>Cras feugiat, felis sit amet molestie </h4>
                    <p>lorem Ipsum is simply dummy text of the printing and typesetting industry., Lorem Ipsum dummy
                        text ever since dummy text of the printing and usings 1500s,Duis aute irure dolor in
                        reprehenderit in voluptate velit esse when an,Lorem Ipsum has been the industry's standard dummy
                        text ever since dummy text of the printing and usings 1500s,</p>
                    <p>lorem Ipsum is simply dummy text of the printing and typesetting industry., Lorem Ipsum dummy
                        text ever since dummy text of the printing and usings 1500s,Duis aute irure dolor in
                        reprehenderit in voluptate velit esse when an,Lorem Ipsum has been the industry's standard dummy
                        text ever since dummy text of the printing and usings 1500s,</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    {# 团队的成员 #}
    <div class="team">
        <div class="container">
            <h3>团队的成员</h3>
            <div class="team-info">
                {% for foo in us_teams %}
                    <div class="col-md-3 team-grids">
                    <a href="#">
                        <img class="img-responsive" src="/static/media/{{ foo.imgpath }}" alt="">
                            <div class="captn">
                                <h4>{{ foo.name }}</h4>
                                <p>{{ foo.deatil }}</p>
                            </div>
                    </a>
                    </div>
                {% endfor %}
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    {# 选择我们的理由，我们的优势 #}
    <div class="why-choose">
        <div class="container">
            <h3>我们团队与其他的优势</h3>
            <div class="choose-grids">
                {% for foo in chose_uss %}
                    <div class="col-md-4 choose-grid">
                        <h4>{{ foo.title }}</h4>
                        <p>{{ foo.deatil }}</p>
                    </div>
                {% endfor %}
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

{%endblock%}