{% extends 'base.html' %}
{% block title %}
    联系我们
{%endblock%}

{% block body %}
    <div class="header head-top">
    <div class="container">
        <div class="header-top">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="navbar-brand">
                            <h1><a href="{% url 'demo1:index' %}">蓝思婚庆</a></h1>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="{% url 'demo1:index' %}">首页 <span class="sr-only">(current)</span></a></li>
                            <li><a href="{% url 'demo1:about' %}">关于我们</a></li>
                            <li><a href="{% url 'demo1:services' %}">服务</a></li>
                            <li><a href="{% url 'demo1:wedding' %}">婚庆案例</a></li>
                            <li class="active"><a href="{% url 'demo1:contact' %}">联系我们</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

    </div>
</div>
    <div class="content">
    <div class="contact">
        <div class="container">
            <h2>contact</h2>
            <div class="contact-map">
                <iframe src="/static/video/1.mp4" onautocomplete="function f() {
                  console.log('finish')

                }" width="100%" height="151px" frameborder="0" style="border:0" onplaying="onplay"></iframe>

{#                <video src="/static/video/1.mp4" class="new_video" width="100%" height="151px"></video>#}
            </div>
            <a href="" target="_blank"></a>
            <div class="contact_top">
                <div class="col-md-8 contact_left">
                    <h3>建议</h3>
                    <p>对我们的一些建议可以通过邮箱发送给我们哦！</p>
                    <form action="{% url 'demo1:contact' %}" method="post">
                        <div class="form_details">
                            <input type="text" class="text"  name="Name" value="Name" onfocus="this.value = '';"
                                   onblur="if (this.value == '') {this.value = 'Name';}">
                            <input type="text" class="text" name="Email" value="Email" onfocus="this.value = '';"
                                   onblur="if (this.value == '') {this.value = 'Email';}">
                            <input type="text" class="text" name="Subject" value="Subject" onfocus="this.value = '';"
                                   onblur="if (this.value == '') {this.value = 'Subject';}">
                            <textarea value="Message" name="Message" onfocus="this.value = '';"
                                      onblur="if (this.value == '') {this.value = 'Message';}">Message</textarea>
                            <div class="clearfix"></div>
                            <div class="sub-button">
                                <input type="submit" value="Send message" >

                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-4 company-right">
                    <div class="company_ad">
                        <h3>我们的信息</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit velit justo.</p>
                        <address>
                            <p>Email : <a href="mailto:1943158197@qq.com">1943158197@qq.com</a></p>
                            <p>Phone : +86 155 3837 0051</p>
                            <p>ADD::Henan College of Animal Husbandry Economics</p>
                        </address>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
{%endblock%}



