{% extends 'base.html' %}
{% block title %}
    服务
{%endblock%}

{% block body %}
    <div class="header head-top">
    <div class="container">
        <div class="header-top">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="navbar-brand">
                            <h1><a href="{% url 'demo1:index' %}">蓝思婚庆</a></h1>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="{% url 'demo1:index' %}">首页 <span class="sr-only">(current)</span></a></li>
                            <li><a href="{% url 'demo1:about' %}">关于我们</a></li>
                            <li class="active"><a href="{% url 'demo1:services' %}">服务</a></li>
                            <li><a href="{% url 'demo1:wedding' %}">婚庆案例</a></li>
                            <li ><a href="{% url 'demo1:contact' %}">联系我们</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

    </div>
</div>
    <div class="content">
    <div class="services">
        <div class="container">
            <h2>服务</h2>
            <div class="services-grids">

                {% for foo in services %}
                    <div class="col-md-4 services-grid">
                    <div class="ser1">
                        <img src="/static/media/{{ foo.imgpath }}" class="img-responsive" alt=""/>
                        <h4>{{ foo.title }}</h4>
                        <p>{{ foo.deatil }}</p>
                    </div>
                </div>
                {% endfor %}
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="professional">
        <div class="container">
            <h3>专业的服务</h3>
            {% for foo in pro_services %}
                <div class="professional-grids">
                    <div class="col-md-4 professional-grid">
                        <img src="/static/media/{{ foo.imgpath }}" class="img-responsive" alt=""/>
                    </div>
                    <div class="col-md-8 professional-grid1">
                        <h4>{{ foo.title }}</h4>
                        <p>{{ foo.deatil1 }}</p>
                        <p>{{ foo.deatil2 }}</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            {% endfor %}


        </div>
    </div>
    <div class="service-list">
        <div class="container">
            <h3>我们能提供的服务</h3>
            <div class="service-grids">
                {% for foo in us_suppots %}
                    <div class="col-md-4 ser-list">
                    <ul>
                        <li><a href="#">{{ foo.title }}</a></li>
                    </ul>
                </div>
                {% endfor %}
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

</div>
{%endblock%}


