{% extends 'base.html' %}
{% block title %}
婚庆案例
{%endblock%}
{% block link %}
    <link rel="stylesheet" href="/static/css/swipebox.css">
    <script src="/static/js/jquery.swipebox.min.js"></script>
    <script type="text/javascript">
        jQuery(function ($) {
            $(".swipebox").swipebox();
        });
    </script>
{%endblock%}


{% block body %}
    <div class="header head-top">
    <div class="container">
        <div class="header-top">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="navbar-brand">
                            <h1><a href="{% url 'demo1:index' %}">蓝思婚庆</a></h1>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="{% url 'demo1:index' %}">首页 <span class="sr-only">(current)</span></a></li>
                            <li><a href="{% url 'demo1:about' %}">关于我们</a></li>
                            <li><a href="{% url 'demo1:services' %}">服务</a></li>
                            <li class="active"><a href="{% url 'demo1:wedding' %}">婚庆案例</a></li>
                            <li ><a href="{% url 'demo1:contact' %}">联系我们</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

    </div>
</div>
    {# 9副图 #}
    <div class="content">
        <div class="wedding-section">
            <div class="container">
                <h2>婚庆案例</h2>
{#            #}

                    <div class="gallery-grids">

{#                            <div class="col-md-4 gallery-grid">#}
{#                                <div class="gallery-grd">#}
{#                                    <a class="swipebox" href="/static/media/{{ foo.imgpath }}"><img src="/static/media/{{ foo.imgpath }}" class="img-style row6" alt=""><span#}
{#                                            class="zoom-icon"></span></a>#}
{#                                </div>#}
{#                            </div>#}
                        {% for foo in imglists %}
                            <div class="col-md-4 gallery-grid">
                                <div class="gallery-grd">
                                    <a class="swipebox" href="/static/media/{{ foo.imgpath }}"><img src="/static/media/{{ foo.imgpath }}" class="img-style row6" alt=""><span
                                            class="zoom-icon"></span></a>
                                </div>
                            </div>
                        {% endfor %}
{#                            <div class="col-md-4 gallery-grid">#}
{#                                <div class="gallery-grd">#}
{#                                    <a class="swipebox" href="/static/media/{{ foo.imgpath }}"><img src="/static/media/{{ foo.imgpath }}" class="img-style row6" alt=""><span#}
{#                                            class="zoom-icon"></span></a>#}
{#                                </div>#}
{#                            </div>#}
                            <div class="clearfix"></div>

                </div>


                {# 第一组三幅图 #}

                {# 第二组三幅图 #}

            </div>
        </div>
    </div>
    {# 下方的地址，电话，邮箱，传真 #}
    <div class="indicate">
        <div class="container">
            <div class="indicate-grids">
                <div class="col-md-4 indicate-grid">
                    <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>Henan College of Animal Husbandry Economics</p>
                </div>
                <div class="col-md-4 indicate-grid">
                    <p><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>Telephone : +86 155 3837 0051</p>
                </div>
                <div class="col-md-4 indicate-grid">
                    <p><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>Email : <a
                            href="mailto:1943158197@qq.com"> 1943158197@qq.com</a></p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

{%endblock%}


